{{define "basic"}}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>v1nc33n7</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/styles.css">
        <script src="/static/htmx.min.js"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Foldit&family=Roboto&display=swap" rel="stylesheet">

    </head>
    <body>
        <div class="header">
            <a href="/">
                <img src="/static/img/eye.png">
            </a>
        </div>
        <div class="middle">
            <div class="list" hx-get="/list" hx-trigger="load" hx-swap="innerHTML"></div>
            {{template "body" .}}
        </div>
    </body>
</html>
{{end}}