* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
    background-color: rgb(1, 1, 1);
    background-image: url("img/stars.png");
    background-repeat: repeat-x;
    background-position: bottom;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    height: 10vh;
    box-sizing: border-box;
    border: 2px solid rgb(65, 124, 77);
    background-color: rgb(24, 24, 24);
}

.header img {
    max-height: 10vh;
    width: auto;
    margin-left: 1em;
}

.middle {
    height: 90vh;
    display: flex;
}

.list {
    color: white;
    min-width: 7vw;
    box-sizing: border-box;
    border: 2px solid rgb(65, 124, 77);
    border-top: none;
    background-color: rgba(24, 24, 24, 0.9);
}

.list details {
    width: 100%;
    margin-top: 2.5vh;
}

.list details > summary {
    font-size: large;
    font-weight: bold;
    width: 100%;
    margin-left: 1vw;
    padding-right: 1vw;
    border: none;
    cursor: pointer;
    list-style: none;
}

.list a {
    color: white;
    margin-left: 1vw;
}

.list p {
    transition: transform 100ms;
    margin-top: 0.8vh;
}

.list p:hover {
    transform: translateX(0.2vw);
}

.index {
    color: white;
}

.task {
    width: 93vw;
    color: white;
}

.question {
    min-height: 10vh;
    max-width: 47.5%;
    margin-top: 1.5vh;
    margin-left: 1%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: rgba(24, 24, 24, 0.9);
    border: 2px solid rgb(65, 124, 77);
}

.question p {
    margin-left: 1.5vh;
    margin-bottom: 1vh;
}

.question form {
    display: flex;
    align-items: flex-end;
}

.question textarea {
    height: 7vh;
    width: 38vw;
    margin-left: 1.5vh;
    padding: 0.5em;
    background-color: rgb(194, 194, 194);
    outline: none;
    resize: none;
}

.question textarea, button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.question button {
    height: 2rem;
    width: 4rem;
    margin-left: 1vh;
    margin-right: 1vh;
}

.error {
    font-size: larger;
    font-weight: bold;
    margin-top: 1.5vh;
    margin-left: 1%;
    color: red;
}

#respond table {
    height: 60vh;
    width: 98%;
    display: block;
    overflow-y: scroll;
    border-collapse: collapse;
    font-size: 0.8rem;
    margin-top: 1.5vh;
    margin-left: 1%;
}

#respond tr:nth-of-type(odd) {
    background: rgba(25, 85, 70, 0.85);
}

#respond tr {
    background: rgba(40, 140, 115, 0.85);
}

#respond th {
    background: #333;
    color: white;
    font-weight: bold;
}

#respond td, th {
    padding: 6px;
    border: 1px solid #ccc;
    text-align: left;
}